In [1]:
import numpy as np
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
from datetime import datetime

In [2]:
os.chdir("C:/Users/maiji/OneDrive - Conestoga College/BigDataArchitecture_2nd_term/web_analistics_BI/")


file = open('access_log_Aug95', 'r') 
line = file.readlines() 

len(line)

1569898

In [30]:
n = len(line)
col1  = []
col2  = []
col3  = []
col4   = []
col5   = []

for i in range(n):
    
    s = line[i].split()
    print(s)
    break;
    col1.append(s[0]) #host 
    
 
    #[01/Aug/1995:00:00:01 -0400
    t = s[3].strip("[")
    date = t.replace(r" -0400","")    #delete -0400 and bracket around date 
    
    dtfmt ='%d/%b/%Y:%H:%M:%S'   # %H -> 24 hours, %I-> 12 hours
    dt = datetime.strptime(date, dtfmt)
    col2.append(dt)
    col4.append(s[len(s)-2])#status
    col5.append(s[len(s)-1].replace('-','0'))#byte

['in24.inetnebr.com', '-', '-', '[01/Aug/1995:00:00:01', '-0400]', '"GET', '/shuttle/missions/sts-68/news/sts-68-mcc-05.txt', 'HTTP/1.0"', '200', '1839']

In [7]:
df = None
df = pd.DataFrame([col1,col2,col3,col4,col5])
df = df.T
df.columns=['host','date','htext','status','bytes']

In [8]:
print("total the number of rows : " , len(df))
df.head(10)

total the number of rows :  1569898

                          host                date htext status  bytes
0            in24.inetnebr.com 1995-08-01 00:00:01  None    200   1839
1              uplherc.upl.com 1995-08-01 00:00:07  None    304      0
2              uplherc.upl.com 1995-08-01 00:00:08  None    304      0
3              uplherc.upl.com 1995-08-01 00:00:08  None    304      0
4              uplherc.upl.com 1995-08-01 00:00:08  None    304      0
5  ix-esc-ca2-07.ix.netcom.com 1995-08-01 00:00:09  None    200   1713
6              uplherc.upl.com 1995-08-01 00:00:10  None    304      0
7         slppp6.intermind.net 1995-08-01 00:00:10  None    200   1687
8         piweba4y.prodigy.com 1995-08-01 00:00:10  None    200  11853
9         slppp6.intermind.net 1995-08-01 00:00:11  None    200   9202

In [9]:
df.info
df.describe()

                      host                 date htext   status    bytes
count              1569898              1569898     0  1569898  1569898
unique               75060               975722     0        8     7623
top     edams.ksc.nasa.gov  1995-08-29 11:11:47   NaN      200        0
freq                  6530                   18   NaN  1398988   154588
first                  NaN  1995-08-01 00:00:01   NaN      NaN      NaN
last                   NaN  1995-08-31 23:59:53   NaN      NaN      NaN

In [10]:
df["host"].value_counts()

edams.ksc.nasa.gov          6530
piweba4y.prodigy.com        4846
163.206.89.4                4791
piweba5y.prodigy.com        4607
piweba3y.prodigy.com        4416
                            ...
128.32.180.200                 1
metcom.com                     1
ix-dc11-29.ix.netcom.com       1
193.44.236.25                  1
146.83.182.20                  1
Name: host, Length: 75060, dtype: int64

In [11]:
df["date"].isnull().sum()

0

In [12]:
df["htext"].value_counts()

Series([], Name: htext, dtype: int64)

In [13]:
df["status"].value_counts()

200    1398988
304     134146
302      26497
404      10056
403        171
501         27
400         10
500          3
Name: status, dtype: int64

In [14]:
df.sort_values(["status"], axis=0, 
                 ascending=True, inplace=True) 
df.head(10)

                             host                date htext status  bytes
0               in24.inetnebr.com 1995-08-01 00:00:01  None    200   1839
1008290   bstfirewall.bst.bls.com 1995-08-22 12:21:50  None    200  46053
1008289             delta-air.com 1995-08-22 12:21:46  None    200   8083
1008288  slsyd1p10.ozemail.com.au 1995-08-22 12:21:45  None    200   4745
1008287  cicaa2-cs-7.dial.cic.net 1995-08-22 12:21:44  None    200  46053
1008286   intgate.raleigh.ibm.com 1995-08-22 12:21:43  None    200   1798
1008285  cicaa2-cs-7.dial.cic.net 1995-08-22 12:21:43  None    200   1204
1008284             delta-air.com 1995-08-22 12:21:43  None    200  11996
1008283               gaia.vr.net 1995-08-22 12:21:42  None    200  46053
1008291                   simi.is 1995-08-22 12:21:51  None    200   2443

In [16]:
df["bytes"].value_counts()

0          154588
786         77836
1204        63754
363         58392
234         58056
            ...
5176            1
42017           1
71640           1
44990           1
1064960         1
Name: bytes, Length: 7623, dtype: int64

In [17]:
df["status"].describe()

count     1569897
unique          8
top           200
freq      1398987
Name: status, dtype: object

In [18]:
#choose columns that I will use in the tableau
data_subset = df[['host','date','htext','status','bytes']]
#export.
data_subset.to_csv (r'C:\Users\maiji\OneDrive - Conestoga College\BigDataArchitecture_2nd_term\web_analistics_BI\cleaned_dataset_Web_BI_Eunna_midterm.csv', index = False, header=True)